// -----------------------------------------------------------------------------
// This file contains all styles related to the 'index' of the site/application.
// -----------------------------------------------------------------------------

/* Common styles */
.body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    @media screen and (max-width: $mobile) {
        // styles for mobile
        margin: 0;
        min-width: $mobile;
    }
}

.active {
    background-color: $activeBgColor;
}

.pen-size-container {
    display: inline-flex;
    padding: 5px;
    .pen-size-option {
        width: 20px;
        height: 20px;
        border: 2px solid #444444;
        box-sizing: border-box;
        margin-right: 2px;
        cursor: pointer;
        &[data-size="1"] {
            padding: 5px;
        }
        &[data-size="2"] {
            padding: 4px;
        }
        &[data-size="3"] {
            padding: 3px;
        }
        &[data-size="4"] {
            padding: 2px;
        }
        &:hover {
            border-color: #aba7a7;
        }
        &::before {
            content: "";
            display: inherit;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        &.selected {
            border-color: #f12d2d;
            &::before {
                background-color: #f12d2d;
            }
        }
    }
}

.color-selector-container {
    position: relative;
    height: 70px;
    label.color {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: rgba(0,0,0,0.54);
        padding-left: 10px;
        input[type=color] {
            display: none;
        }
        &.primary-color {
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 10;
        }
        &.secondary-color {
            position: absolute;
            top: 35px;
            left: 25px;
        }
        .color-field {
            width: 40px;
            height: 40px;
            border: 5px solid #646464;
            cursor: pointer;
            &.transparent-color {
                background-image: url('../../assets/images/empty_color.png');
            }
            &:hover {
                border-color: #a7a7a7;
            }
        }
    }
}


.list-block-styled {
    box-shadow: 0px 0px 9px #aba7a7;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Conqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */   
    &__common-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        &_tools {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
        }
        li {
            width: 196px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding-left: 20px;
            cursor: pointer;
            &:hover {
                background-color: $hoverBgColor;
            }
            &.disabled-item {
                background-color: #fff;
                cursor: default;
                opacity: 0.5;
            }
            &.tool-icon {
                background-color: #4e4e4e;
                width: 46px;
                height: 46px;
                margin: 1px;
                &:hover {
                    background-color: #8f8f8f;
                }
                &.active {
                    background-color: #8f8f8f;
                    &::before {
                        content: '';
                        display: inherit;
                        border: 3px solid red;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                    }
                }
                &.tool-pen-size {
                    grid-column: span 2;
                    height: auto;
                    background-color: transparent;
                    cursor: default;
                }
                &.icon-tool-pen {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -182px -92px;
                }
                &.icon-tool-paint-bucket {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -228px -92px;
                }                
                &.icon-tool-eraser {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -46px -228px;
                }
                &.icon-tool-color-picker {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -274px 0px;
                }
            }
            img {
                margin: 0 20px;
            }
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}

.header-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #eeeeee;
    box-shadow: inset 0px -10px 8px -10px #aba7a7,
                0px 0px 9px #aba7a7;
    .main-menu {
        cursor: pointer;
        &:hover {
            background-color: $hoverBgColor;
        }
    }
    &__header-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: rgba(0, 0, 0, 0.87);
        flex-grow: 1;
    }
    .additional-menu {
        padding-right: 10px;
        cursor: pointer;
        &__icon {
            padding-left: 10px;
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    padding: 0 50px;
    @media screen and (max-width: $preTablet1020) {
        grid-template-columns: none;
        padding: 20px;
    }
    .tools-container {
        // justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: $preTablet1020) {
            flex-direction: row;
        }
    }
    .columns-wrapper {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        .canvas-column {
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: #a0a0a0;
            .canvas-main {
                width: 512px;
                height: 512px;
                // background-color: $canvas-bg-color;
                // border: 1px solid #b8b8b8;
                image-rendering: pixelated;
                background: url('../../assets/images/grid_template.png');
            }
        }
    }    
    .canvas-size-container {
        justify-self: start;
        align-self: center;
        @media screen and (max-width: $preTablet1020) {
            justify-self: center;
        }
    }
}

.footer-container {
    .credits {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
    }
}
