// -----------------------------------------------------------------------------
// This file contains all styles related to the 'index' of the site/application.
// -----------------------------------------------------------------------------

/* Common styles */
.body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
    @media screen and (max-width: $mobile) {
        // styles for mobile
        margin: 0;
        min-width: $mobile;
    }
}

.active {
    background-color: $activeBgColor;
}

// --- Pen Size Component ---
.pen-size-container {
    display: inline-flex;
    padding: 5px;
    .pen-size-option {
        width: 20px;
        height: 20px;
        border: 2px solid #444444;
        box-sizing: border-box;
        margin-right: 2px;
        cursor: pointer;
        &[data-pen-size="1"] {
            padding: 5px;
        }
        &[data-pen-size="2"] {
            padding: 4px;
        }
        &[data-pen-size="3"] {
            padding: 3px;
        }
        &[data-pen-size="4"] {
            padding: 2px;
        }
        &:hover {
            border-color: #aba7a7;
        }
        &::before {
            content: "";
            display: inherit;
            width: 100%;
            height: 100%;
            background-color: $mainFontColor;
        }
        &.selected {
            border-color: $selectedBorderColor;
            &::before {
                background-color: $selectedBorderColor;
            }
        }        
    }
}
// --- END Pen Size Component ---

// --- Field Size Component ---
.field-size-container {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: flex;
        padding: 5px;
        background-color: #4e4e4e;
        margin: 3px;
        cursor: pointer;
        &.selected {
            background-color: $selectedBorderColor;
        }
        &:hover {
            background-color: $hoverBgColor;
        }
        .image-icon {
            width: 25px;
        }
        span {
            font-size: 22px;
            margin-left: 5px;
        }
    }
}
// --- END Field Size Component ---

// --- Color Selector Component ---
.color-selector-container {
    position: relative;
    height: 70px;
    label.color {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: rgba(0,0,0,0.54);
        padding-left: 10px;
        input[type=color] {
            display: none;
        }
        &.primary-color {
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 10;
        }
        &.secondary-color {
            position: absolute;
            top: 35px;
            left: 25px;
        }
        .color-field {
            width: 40px;
            height: 40px;
            border: 5px solid #646464;
            cursor: pointer;
            &.transparent-color {
                background-image: url('../../assets/images/empty_color.png');
            }
            &:hover {
                border-color: lighten($color: $hoverBgColor, $amount: 20);
            }
        }
    }
}
// --- END Color Selector Component ---

// --- Frame Selector Component ---
.frames-column {
    align-self: start;
    padding: 10px;
    box-shadow: 0 0 5px 1px darken($color: $selectedBorderColor, $amount: 30);
    border-radius: 3px;
    overflow-y: auto;
    max-height: 85vh;
    margin: 10px 20px;
    min-width: 101px;
    .frames-list {
        list-style: none;
        padding: 0;
        margin: 0;
        .frame {
            border: #444 3px solid;
            border-radius: 3px;
            margin: 5px 0;
            width: 95px;
            height: 95px;
            position: relative;
            .frame-canvas {
                width: 100%;
                image-rendering: pixelated;
                background: url('../../assets/images/grid_template.png');
            }
            .frame-icon-layout {
                position: absolute;                
                height: 30px;
                width: 30px;
                background-color: rgba(100, 100, 100, 0.6);
                border: none;
                cursor: pointer;
                display: none;
                &.frame-number {
                    top: 0;
                    left: 0;
                    background-color: $selectedBorderColor;
                    border-bottom-right-radius: 3px;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: bold;
                    text-align: center;
                    display: block;
                }
                &.frame-delete {
                    top: 0;
                    right: 0;
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -274px -106px;
                    border-bottom-left-radius: 3px;
                }
                &.frame-copy {
                    bottom: 0;
                    right: 0;
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -274px -76px;
                    border-top-left-radius: 3px;
                }
                &.frame-move {
                    bottom: 0;
                    left: 0;
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -274px -46px;
                    border-top-right-radius: 3px;
                    cursor: move;
                }                
            }            
            &:hover {
                border-color: $hoverBgColor;
                .frame-icon-layout {
                    display: block;
                }
            }
            &.selected {
                border-color: $selectedBorderColor;
            }
            &:first-child:last-child:hover .frame-icon-layout {
                &.frame-delete, &.frame-move {
                    display: none;
                }
            }
        }
    }
    .frame-new {
        position: relative;
        margin-top: 8px;
        padding: 6px 2px 6px 25px;
        overflow: hidden;
        width: 100px;
        border: #888 solid 3px;
        border-radius: 4px;
        color: #888;
        background-color: #222;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            border-color: $selectedBorderColor;
        }
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 5px;
            display: block;
            width: 25px;
            height: 25px;
            background-image: url('../../assets/images/sprites_icons.png');
            background-position: -274px -157px;
        }
    }
}
// --- END Color Selector Component ---


// --- Canvas Component ---
.canvas-main {
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    background: url('../../assets/images/grid_template.png');
}
// --- END Canvas Component ---

// --- Preview Component ---
.preview-column {
    background-color: #3a3a3a;
    align-self: start;
    margin: 20px 20px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    .preview-canvas {
        width: 100%;
        image-rendering: pixelated;
        background: url('../../assets/images/grid_template.png');
    }
    &:hover {
        .preview-icon-layout {
            display: block;
        }
    }
    .preview-icon-layout {
        width: 22px;
        height: 22px;
        line-height: 22px;
        border: 2px solid white;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
        display: none;
        &.preview-fullscreen {
            position: absolute;
            top: 10px;
            right: 10px;
            background-image: url('../../assets/images/sprites_icons.png');
            background-position: -295px -183px;
            &:hover {
                border-color: $selectedBorderColor;
            }
        }
    }
    .preview-fps-container {
        padding: 5px 10px 5px 5px;
        display: grid;
        grid-template-columns: auto 1fr;
        .preview-display-fps {
            font-size: 14px;
            min-width: 50px;
            vertical-align: bottom;
            line-height: 26px;
            color: $greyColor;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
// --- END Preview Component ---

.list-block-styled {
    box-shadow: 0px 0px 9px #aba7a7;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Conqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */   
    &__common-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        &_tools {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
        }
        li {
            width: 196px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding-left: 20px;
            cursor: pointer;
            &:hover {
                background-color: $hoverBgColor;
            }
            &.disabled-item {
                background-color: $mainFontColor;
                cursor: default;
                opacity: 0.5;
            }
            &.tool-icon {
                background-color: #4e4e4e;
                width: 46px;
                height: 46px;
                margin: 1px;
                &:hover {
                    background-color: $hoverBgColor;
                }
                &.active {
                    background-color: $hoverBgColor;
                    &::before {
                        content: '';
                        display: inherit;
                        border: 3px solid $selectedBorderColor;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                    }
                }
                &.tool-pen-size {
                    grid-column: span 2;
                    height: auto;
                    background-color: transparent;
                    cursor: default;
                }
                &.icon-tool-pen {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -182px -92px;
                }
                &.icon-tool-paint-bucket {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -228px -92px;
                }                
                &.icon-tool-eraser {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -46px -228px;
                }
                &.icon-tool-color-picker {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -274px 0px;
                }
                &.icon-tool-stroke {
                    background-image: url('../../assets/images/sprites_icons.png');
                    background-position: -46px -136px;
                }
            }
            img {
                margin: 0 20px;
            }
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }
}

.header-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lighten($color: $mainBgColor, $amount: 10);
    padding-left: 20px;
    .header-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $mainFontColor;
        flex-grow: 1;
        margin-left: 5px;
    }
    .additional-menu {
        padding-right: 10px;
        cursor: pointer;
    }
}

// --- Landing Component ---
.landing-container {
    display: grid;
    background-color: $mainBgColor;
    color: $mainFontColor;
    &.hidden {
        display: none;
    }
    .description-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        background-color: $lightenBgColor;
        height: 430px;
        padding: 30px 20px 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        .description-info {
            .description-info-main {
                font-size: 44px;
                margin-bottom: 20px;
                font-weight: normal;
                .bold-text {
                    font-weight: bold;
                }
            }
            .description-info-additional {
                margin-bottom: 20px;
                font-size: 25px;
            }
        }
        .description-image {
            width: 100%;
        }
    }
    .examples-container {
        display: grid;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-items: start;
        padding: 30px 0;
        .examples-header {
            font-size: 1.3em;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .examples-info {
            font-size: 16px;
            color: $greyColor;
        }
        .cards-container {
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-gap: 15px;
            .card-example {
                display: grid;
                grid-template-rows: auto auto;
                background-color: $hoverBgColor;
                padding: 3px;
                border-radius: 3px;
                cursor: pointer;
                transition: 0.1s linear;
                &:hover {
                    background-color: darken($color: $hoverBgColor, $amount: 20);
                }
                .card-example-image {
                    width: 115px;
                    height: 115px;
                    border-radius: 3px;
                }
                .card-example-name {
                    font-size: 12px;
                    font-weight: bold;
                    text-align: center;
                    margin: 5px 0 2px 0;
                }
            }
        }
    }
    .features-container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-template-rows: auto auto;
        align-items: center;
        padding-top: 40px;
        background-color: darken($color: $mainBgColor, $amount: 7);
        padding: 30px 0;
        .card-feature {
            display: flex;
            flex-direction: row;
            height: 100%;
            margin: 5px;
            width: 500px;
            justify-self: flex-end;
            text-align: end;
            &.reverse-flow {
                flex-direction: row-reverse;
                justify-self: flex-start;
                text-align: start;
            }
            .card-feature-text {
                width: 100%;
                padding: 0px 10px;
                .card-feature-header {
                    font-size: 1.3em;
                    margin: 10px 0;
                }
                .card-feature-info {
                    margin: 10px 0;
                    font-size: 14px;
                }
            }
            .card-feature-image {
                width: 100px;
                height: 100px;
                background-color: $hoverBgColor;
                border: 3px solid $mainFontColor;
                border-radius: 3px;
            }
        }
    }
}
// --- END Landing Component ---

.main-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 50px;
    background-color: $mainBgColor;
    &.hidden {
        display: none;
    }
    @media screen and (max-width: $preTablet1020) {
        grid-template-columns: none;
        padding: 20px;
    }
    .tools-container {
        // justify-self: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: $preTablet1020) {
            flex-direction: row;
        }
    }
    .columns-wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        .canvas-column {
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: #a0a0a0;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }    
    .actions-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.footer-container {
    background-color: $mainBgColor;
    .credits {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        color: #839689;
    }
}
